/* stephendiehl.com stylesheet */

html {
    overflow-y: scroll;
    height: 100%;
}

body {
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  color: #325050;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 60px;
}

h1, h2, h3, h4, h5 {
  color: #2e484c;
  font-weight: 400;
  line-height: 1.1;
}

pre code {
  font: 15px/19px Inconsolata, Monaco,"Lucida Console",Terminal,"Courier New",Courier;
}

.figure {
  text-align: center;
}

.small .figure img {
  height: 200px;
}

.pagetitle .figure {
  text-align: left !important;
}

.pagetitle .figure img {
  height: 36px;
}

table{
    background:#fff;
    border:1px solid #ccc;
    border-width:2px;
    border-collapse:collapse;
    margin:5px 0 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}

th, td{
    border:1px solid #ccc;
    padding:3px 10px;
    text-align:left;
    vertical-align:top;
}

tr.even td{
    background:#f7f7f7;
}

th{
    background:#edeff0;
}

td code {
  border: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0px;
  height: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 100px;
}

.text-center {
  text-align: center;
}
.page-nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  background-image: url(../img/contours@2x.png), url(../img/noise.png), url(../img/gridlines.png), url(../img/huntington.jpg);
  -webkit-background-size: 50% auto, auto, auto, cover;
     -moz-background-size: 50% auto, auto, auto, cover;
       -o-background-size: 50% auto, auto, auto, cover;
          background-size: 50% auto, auto, auto, cover;
}
.page-nav .nav {
  height: 60px;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav .nav a {
  color: white;
  font-size: 16px;
  padding: 0 15px;
}

/* Logo */

.logo {
  text-align: center;
  font-size: 250px;
  font-weight: bold;
  background: url(../img/huntington.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 25px;
  margin-bottom: 0px;
}
.logo-dsc {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  background: url(../img/huntington.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.tagline {
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  line-height: 1.45;
  color: #383838;
}

.author {
}

.halfbreak {
  padding-bottom: 100px;
}

.break {
  padding-bottom: 200px;
}

/* TOC Links */

a { 
  color: #0d8ba1;
  text-decoration: none;
}

a:visited {
  color: #1a5952;
}

.body li a {
  text-decoration: underline;
}

/* Math */

.MathJax_Display {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Body Links */
 
p a { 
  text-decoration: underline;
}

li code, p code {
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #f8f8f8;
  color: #9509c2;
}

/*  */

.center {
    text-align: center;
}

.bigger img {
    width: 120%;
    height: 120%;
}

pre {
  font-size: 0.9em;
  margin-bottom: 18px;
  margin-top: 18px;
}

h1 {
  margin-top: 0px;
}

.annotation {
    font-size: 10pt;
}

.annotation pre {
    display: block;
    margin: 0;
    padding: 7px 10px;
    overflow-x: auto;
}

.annotation.span2 {
    /* Override bootstrap */
    margin-left: 0px !important;
    margin-top: 18px !important;
}

.annotation pre code {
    border: 0;
    padding: 0;
    background: transparent;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  left: 20px;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

ul.sections {
    list-style: none;
    padding:0 0 5px 0;
    margin:0;
}

code.sourceCode {
    padding: 0;
}

pre.sourceCode {
  color: rgb(97, 104, 87);
    padding: 20px;
    background-color: rgb(230 237 232);
}

ul.sections > li > div {
    -moz-box-sizing: border-box;    /* firefox */
    -ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
    box-sizing: border-box;         /* css3 */
}

.page-footer {
   text-align: center; 
   padding: 15px; 
   margin-top: 100px; 
   background: #134347; 
   position: relative;
   z-index: 1;
   font-size: 12px;
}

.body {
  padding: 25px;
  float: none;
  clear: both;
}
body p {
  font-size: 16px;
}

  .toc li {
      line-height: 20px !important;
      list-style-type: none;
  }
.side {
    padding-top: 25px;
  background-color: #e6ede8;

  padding-bottom: 25px;
}

  .side > ul > li > a {
    font-size: 19px;
    color: rgb(96, 116, 118);
    margin-bottom: 15px;
    display: block;
  }


  .side a {
    font-size: 14px;
    color: rgb(97, 104, 87);
  }

/* Make the naviation centered and larger on small screens */
/*----------------------  (> 481px) ---------------------*/

@media only screen and (max-width: 481px) {

  .toc > ul {
      font-size: 18px;
  }

  .toc ul {
      padding-left: 0;
  }

  .toc ul ul {
      padding-left: 0.8em;
  }

  .toc li {
      list-style-type: none;
  }

}

@media only screen and (min-width: 1025px) {
  .toc ul ul {
      padding-left: 0.8em;
  }

  .toc > ul {
      margin-top: 0px;
      font-size: 12px;
  }


  .toc:hover {
    opacity: 1.0;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }

  .toc { 
    text-decoration: none;
    font-size: 8pt;
    line-height: 0.9;
    height: 100%;

    -o-transition: opacity .25s ease-in-out;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }

  .toc a:hover { 
    text-decoration: underline;
  }


  .side {
      padding-top: 90px;
      position: fixed;
      width: 270px !important;
      margin-left: 0px;
      z-index: 0;
      top: 0;
      left: 0;
      padding-bottom: 0;
  }

  .side ul ul.active {
    display: block;
  }
  .side > ul > li > a {
    font-size: 19px;
    color: rgb(96, 116, 118);
    margin-bottom: 15px;
    display: block;
  }

  .side .active {
      font-weight: bold;
  }

  .side a {
    font-size: 14px;
    color: rgb(97, 104, 87);
  }

  .body {
      margin-left: 270px !important;
      padding-top: 25px;
  }

}


#content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-height: 100%;
  overflow: hidden;
}

@media (max-width: 979px) and (min-width: 768px) {
  .span3 {
    width: 100%;
  }
  .span9 {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: 1200px) {
.row {
    margin-left: 0px;
    *zoom: 1;
}
}